{
    "general": {
        "name": "my",
        "max_account": 0,
        "readme": [
            {
                "language": "francais",
                "source_folder" : "{{ my_install_path }}/readmes/fr/"
            },
            {
                "language": "english",
                "source_folder" : "{{ my_install_path }}/readmes/en/"
            }
        ],
        "double_authentication_for_admin": false,
        "db": "gomngr",
        "url": "{{ my_url }}",
        "admin": [ "{{ my_admin_list | join('", "') }}" ],
        "support": "{{ my_support_email }}",
        "accounts": "{{ my_accounts_email }}",
        "secret": "test",
        "script_dir": "{{ my_install_path }}/scripts",
        "cron_bin_script": "{{ my_install_path }}/gomngr.sh",
        "admin_ip": [],
        "usage_directory": "/tmp",
        "home": "{{ my_users_home }}",
        "use_group_in_path": {{ my_group_in_path }},
        "main_groups": ["{{ my_default_group }}"],
        "default_main_group": "{{ my_default_group }}",
        "mailer": "{{ my_mailer }}",
        "templates": "{{ my_templates }}",
        "quota": {
        },
        "user_extra_dirs": [
            {% if my_enable_user_extra_dirs %}
            "{{ my_users_home }}/#USER#/extra/#USER#/",
            "{{ my_users_home }}/#USER#/extra/#GROUP#/"
            {% endif %}
        ],
        "plugin_script_dir": "{{ my_install_path }}/plugin-scripts"
        },
    "usage": [
    ],
    "bills": {
        "use": false,
        "dir": "/genouestaccountmanager-bills"
    },
    "mongo": {
        "host": "{{ my_mongo_host }}",
        "port": 27017
    },
    "rabbitmq": {
        "url": null,
        "exchange": "gomngr"
    },
    "redis": {
        "host": null,
        "port": 6379
    },
    "nodemailer": {
        "prefix": "{{ my_orga }}",
        "host": "{{ my_smtp_host }}",
        "port": "{{ my_smtp_port }}",
        "origin": "{{ my_smtp_origin }}"
    },
    "gomail": {
        "host": null,
        "api_root": null,
        "api_secret": null,
        "main_list": "mytestlist",
        "origin": "{{ my_smtp_origin }}",
        "tag": ""
    },
    "ldap": {
        "host": "{{ my_openldap_host }}",
        "dn": "{{ my_openldap_dn }}{# mandatory #}",
        "admin_cn": "{{ my_openldap_admin_cn }}{# mandatory #}",
        "admin_dn": "{{ my_openldap_dn }}{# mandatory #}",
        "admin_password": "{{ my_openldap_admin_password }}{# mandatory #}",
        "team": "{{ my_default_group }}"
    },
    "mysql": {
        "host": "{{ my_mariadb_host }}",
        "user": "{{ my_mariadb_user }}",
        "password": "{{ my_mariadb_password }}"
    },
    "tp": {
        "prefix": "tp",
        "group": {"name": "tps", "gid": 1000},
        "extra_expiration": 5,
        "fake_mail_domain": "my.org"
    },
    "message": {
        "activation": [
            "Your {{ my_orga }} account has been activated, you will be able to connect within one day.",
            "Your credentials are:",
            "Login: #UID#",
            "Password: #PASSWORD#",
            "Your declared IP address is: #IP#"
        ],
        "activation_html": [
            "<h2>Your {{ my_orga }} account has been activated</h2>",
            "<p>You will be able to connect within one day.</p>",
            "<br/>",
            "<h3>Credentials</h3>",
            "<p>Login    : <b>#UID#</b></p>",
            "<p>Password : <b>#PASSWORD#</b></p>"
        ],
        "reactivation": [
            "Your {{ my_orga }} account (#UID#) has been reactivated. Your password has been reset to #PASSWORD#.",
            "Activation should be effective in the next hour.",
            ""
        ],
        "reactivation_html": [
            "<h2>Your {{ my_orga }} account (#UID#) has been reactivated.</h2>",
            "<p>Your password has been reset to <b>#PASSWORD#</b>.</p>",
            "<p>Activation should be effective <b>in the next hour</b>.</p>",
            "<hr>"
        ],
        "password_reset_request": [
            "A password reset has been requested for your account #UID#.",
            "If this is an error or an abuse, simply trash this email, your password will not be modified.",
            "If you really want to reset you password, click on the following link, a confirmation email will be sent afterward:",
            ""
        ],
        "password_reset_request_html": [
            "<h2>Password reset request</h2>",
            "<p>A password reset has been requested for your account <b>#UID#</b> </p>",
            "<p>If this is an error or an abuse, simply trash this email, your password will not be modified.</p>",
            "<p>If you really want to reset you password, click on the following link, a confirmation email will be sent afterward:</p>",
            "#LINK#",
            "<br/>",
            "<br/>",
            "<hr>"
        ],
        "password_reset": [
            "Your {{ my_orga }} password has been reset as you requested. Your new password is #PASSWORD#.",
            "The new password will be active within an hour.",
            ""
        ],
        "password_reset_html": [
            "<h2>Password reset</h2>",
            "<p>Your {{ my_orga }} password has been reset as you requested for your account #UID#.</p>",
            "Your new password is <b>#PASSWORD#</b>.</p>",
            "<br/>",
            "<p>The new password will be active <b>within an hour</b>.</p>",
            "<br/>",
            "<hr>"
        ],
        "expiration": [
            "Your {{ my_orga }} account will expire at #EXPIRE#, if you wish to extend the duration of your account, please go to the following URL:",
            "#LINK#",
            ""
        ],
        "expiration_html": [
            "<h2>Your {{ my_orga }} account expiration</h2>",
            "<p>Your account will expire at #EXPIRE#</p>",
            "<p>If you wish to extend the duration of your account, please go to the following URL:</p>",
            "<p>#LINK#</p>",
            "<hr>"
        ],
        "emailconfirmation": [
            "You have created an account on {{ my_orga }} platform, please confirm your subscription at the following link:",
            "#LINK#",
            "You will receive an email when your account has been validated."
        ],
        "emailconfirmationhtml": [
            "<h2>Welcome on the {{ my_orga }} facility</h2>",
            "<p>You have created an account on {{ my_orga }} platform, please confirm your subscription at the following link:</p>",
            "<p>#LINK#</p>",
            "<p>You will receive an email when your account has been validated.</p>",
            "<hr>"
        ],
        "footer": [
            "this is from MY"
        ]
    },
    "plugins": [
        {% if my_enable_plugins %}
        {"name": "test", "display_name": "Test", "admin": false},
        {"name": "adminquotatest", "display_name": "Quotas", "admin": true},
        {"name": "amqp", "display_name": "RabbitMQ", "admin": false}
        {% endif %}
    ],
    "plugin_config" : {
        "test": {
            "parameter1" : "test1"
        },
        "adminquotatest": {
            "volumes": [
                {"id": "disk1", "value": 100},
                {"id": "diskA", "value": 150}
            ]
        }
    }
}
