#!/usr/bin/env bash

MYDIR="{{ my_install_path }}/scripts"
MYURL="{{ my_local_url }}"

echo "$(date) Execute cron tasks"

if [ -e /tmp/gomngr.lock ]; then
  exit 1
fi

touch /tmp/gomngr.lock

ls $MYDIR/*.update | sort -n -t . -k 2 > /tmp/gomngr.list

while read p; do
    # wait for my flush out file buffer
    # sleep 10

    $p &> $p.log
    EXITCODE=$?
    filename=$(basename $p)
    curl "$MYURL/log/status/$filename/$EXITCODE"
    mv $p $p.$EXITCODE.done
    mv $p.log $p.$EXITCODE.log
    echo "result: $EXITCODE for $p"
    if [ $EXITCODE -ne 0 ]
    then
        cat $p.$EXITCODE.log
    fi
done </tmp/gomngr.list

rm /tmp/gomngr.lock
